build/*
.cache/*
*.bak
*.swp
*.swo
*.pyc
*.elf
*.o
*.gch
*.a
*.so
*.zargo~
*~
*.xmi~
*nohup.out
*.lvimrc
lib/*
exec/*
bin/*
tags
.project
.pydevproject
.settings
.dat
a.out
a.out.*
CMakeCache.txt
CMakeFiles
.Xauthority
.bash_history
.root_hist
*.root
*.png
macro/pictures_C/*
macro/*.data
macro/data/*
.vscode